<legend>Seu cadastro foi criado no sistema</legend>
<p>
  Olá <%= @resident.full_name %>, <br>
  seu cadastro foi criado com sucesso no sistema, suas informações já podem ser acessadas a qualquer momento.
</p>
