<legend>Seu cadastro foi alterado no sistema</legend>
<p>
  Olá <%= @resident.full_name %>, <br>
  seu cadastro foi alterado recentemente no sistema, suas novas informações já podem ser acessadas a qualquer momento.
</p>
